.home-style-4 .sm-super-categories .spc-items-container {
    box-shadow: 0 0 1px #999 inset;
    -webkit-box-shadow: 0 0 1px #999 inset;
}

.home-style-4 {
    .latest-blog .latest-blog-slider {
        .owl-controls {
            top: -39px !important;
            right: 5px !important;
        }
    }

    .client-say {
        .client-say-slider {
            .owl-controls {
                .owl-nav {
                    position: absolute;
                    top: -58px;
                    right: -15px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .home-style-4 {

    }

    .cms-home-style-4 {
        .page-main {
            padding-top: 494px;
            .imageslider-wrap {
                position: absolute;
                right: 0;
                top: -463px;
            }
            .page.messages {
                margin: 0;
                .message {
                    margin-bottom: 30px;
                }
            }
        }
        .homepage-wrapper > .row:first-child {
            margin-bottom: 0;
        }
    }
}

.cms-home-style-4 {
    .sm-super-categories .category-wrap .container-slider {
        top: 2px;
    }
    .homepage-wrapper .col-main > div {
        .title-home {
            border: 1px solid #ddd;
            margin: -1px 0 20px;
            border-bottom: 3px solid #ddd;
            h2 span {
                background: none;
                color: inherit;
                &:before {
                    display: none;
                }
            }
        }

        &.sm-super-categories .title-home {
            margin-bottom: 0;
        }
    }
    .sidebar .block, .sidebar .block-banners, .sidebar .block-banners-inline {
        margin-bottom: 33px;
        .block-title {
            border: 1px solid #ddd;
            margin: -1px -19px 0 -19px;
            border-bottom: 3px solid #ddd;
            strong {
                background: none;
                color: inherit;
                &:before {
                    display: none;
                }
            }
        }
    }
    .sidebar {
        .block {
            &.products-sidebar {
                position: relative;
                .block-title {
                    margin-bottom: 12px;
                }
                .owl-controls {
                    top: -59px;
                }
            }

        }
    }

}
